/**	
 * Login page
 */

.login-page
{
	padding-top: 0;
}

.login-page .page
{
	min-height: 100%;
	background: #F1F4F5;
}

.login-page .panel 
{
	width: 300px;
}

.login-page form 
{
	padding-top: 20px;
}

.site-menubar-footer > a 
{
	width: 50%;
}

/**
 * Error Page
 */

.error-page
{
	padding-top: 0;
}

.error-page .page
{
	min-height: 100%;
	background: #F1F4F5;
}

/**
 * Tooltip fix
 */
.tooltip-inner 
{
	white-space:nowrap;
}

/**
 * Tree UI helpers
 */
.tree-lock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    opacity: 0.5;
}

/**
 * Tree category
 */
select .full-width {
    width: 100%;
}

/**
 * D3
 */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/**
 * Tree
 */
$border-width: 1px;
$reverse: false; 

$children-hover-color: #e4eaec;

.tree {
  @if $reverse {
    transform: rotate(180deg);
    transform-origin: 50%;
  }
}

.argue-tree-vis ul {
  position: relative;
    padding: 1em 0; 
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.argue-tree-vis li {
  display: inline-block; // need white-space fix
  vertical-align: top;
  text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em .5em 0 .5em;
  &::before,
  &::after {
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: $border-width solid #ccc;
    width: 50%; 
    height: 1em;
  }
  &::after {
    right: auto; 
    left: 50%;
      border-left: $border-width solid #ccc;
  }
  &:only-child::after,
  &:only-child::before {
    display: none;
  }
  &:only-child {
    padding-top: 0;
  }
  &:first-child::before,
  &:last-child::after {
    border: 0 none;
  }
  &:last-child::before{
    border-right: $border-width solid #ccc;
    border-radius: 0 5px 0 0;
  }
  &:first-child::after{
    border-radius: 5px 0 0 0;
  }
}

.argue-tree-vis ul ul::before{
    content: '';
    position: absolute; 
  top: 0; 
  left: 50%;
    border-left: $border-width solid #ccc;
    width: 0; 
  height: 1em;
}

.argue-tree-vis li .argue-tree-vis-title {
    border: $border-width solid #ccc;
    background: #fff;
    padding: .5em .75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: #333;
    position: relative;
    top: $border-width;
    @if $reverse {
        transform: rotate(180deg);
    }
}

// .argue-tree-vis li a:hover,
// .argue-tree-vis li a:hover+ul li a {
//     background: $children-hover-color;
//     color: #fff;
//     border: $border-width solid $children-hover-color;
// }

// .argue-tree-vis li a:hover + ul li::after, 
// .argue-tree-vis li a:hover + ul li::before, 
// .argue-tree-vis li a:hover + ul::before, 
// .argue-tree-vis li a:hover + ul ul::before{
//     border-color:  $children-hover-color;
// }

/**
 * Bootstrap height fixes
 */
@media (min-width:1600px){
    .auto-clear .col-xlg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xlg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xlg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xlg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xlg-6:nth-child(odd){clear:left;}
}
@media (min-width:1200px) and (max-width:1599px) {
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}