/**	
 * Login page
 */

.login-page
{
	padding-top: 0;
}

.login-page .page
{
	min-height: 100%;
	background: #F1F4F5;
}

.login-page .panel 
{
	width: 300px;
}

.login-page form 
{
	padding-top: 20px;
}

.site-menubar-footer > a 
{
	width: 50%;
}

/**
 * Error Page
 */

.error-page
{
	padding-top: 0;
}

.error-page .page
{
	min-height: 100%;
	background: #F1F4F5;
}